{% ckan_extends %}
{% block resource_item_explore_links %}
<li>
  <a href="{{ url }}">
    {% if res.has_views %}
      <i class="fa fa-bar-chart-o"></i>
      {{ _('Preview') }}
    {% else %}
      <i class="fa fa-info-circle"></i>
      {{ _('More information') }}
    {% endif %}
  </a>
</li>
{% if res.url and h.is_url(res.url) %}
<li>
  <a href="{{ res.url }}" class="resource-url-analytics" target="_blank">
    {% if res.has_views or res.url_type == 'upload' or res.url_type =='file_uploader_ui'%}
      <i class="fa fa-arrow-circle-o-down"></i>
      {{ _('Download') }}
    {% else %}
      <i class="fa fa-external-link"></i>
      {{ _('Go to resource') }}
    {% endif %}
  </a>
</li>
{% endif %}
{% if can_edit %}
<li>
  <a href="{{ h.url_for(controller='package', action='resource_edit', id=pkg.name, resource_id=res.id) }}">
    <i class="fa fa-pencil-square-o"></i>
    {{ _('Edit') }}
  </a>
</li>
{% endif %}
{% if h.check_access('resource_delete', {'id': res.id})  %}
<li>
  <a href="{% url_for controller='package', action='resource_delete', resource_id=res.id, id=pkg.name %}" data-module="confirm-action" data-module-content="{{ _('Are you sure you want to delete this resource?') }}">
    <i class="fa fa-times"></i>
    {{ _('Delete') }}
  </a>
</li>
{% endif %}
{% endblock %}
