{% asset 'file_uploader_ui/fileupload_styles' %}
{% asset 'file_uploader_ui/fileupload_scripts' %}

<section class="module module-narrow module-shallow drag-and-drop">
    <h2 class="module-heading"><i class="fa fa-upload"></i> {{ _('Bulk Upload') }}</h2>
    <div class="module-content">
        <p>{{ _('Drag & Drop files here to stage for bulk upload') }}</p>
        <form id="fileupload" action="/file_uploader_ui/upload" method="POST" enctype="multipart/form-data">

            {% if c.pkg_dict.name %}
              {% set package_id = c.pkg_dict.name %}
            {% else %}
              {% set package_id = pkg_name %}
            {% endif %}

            {% set url = h.url_for('file_uploader_ui.file_uploader_ui_finish', package_id=package_id) %}

            <input type="hidden" name="package_id" value="{{ package_id }}" />
            <div class="row fileupload-buttonbar">
                <div class="col-lg-5">
                    <span class="btn btn-success fileinput-button">
                        <i class="fa fa-plus"></i>
                        <span>{{ _('Add files...') }}</span>
                        <input type="file" name="files[]" multiple>
                    </span>

                    <a href="{{url}}" class="btn btn-default fileinput-finish">
                        <i class="fa fa-check"></i><span>{{ _('Finish') }}</span>
                    </a>
                </div>
                <div class="col-lg-7 fileupload-progress fade">
                    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                    </div>
                    <div class="progress-extended">&nbsp;</div>
                </div>
            </div>
            <ul class="resource-list files" ></ul>
        </form>

        {% raw %}
            <script id="template-upload" type="text/x-tmpl">
            {% for (var i=0, file; file=o.files[i]; i++) { %}
                <li class="resource-item template-upload fade">
                      <span class="format-label" property="dc:format" data-format=""></span>
                      <span class="heading"> {%=file.name%}</span>  <!-- <span class="preview"></span> -->
                        <p class="description">{% endraw %}{{ _('Processing...') }}{% raw %}
                        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
                        {% if (!i) { %}
                            <button class="btn btn-warning cancel">
                                <i class="fa fa-ban"></i><span>Cancel</span>
                            </button>
                        {% } %}
                    </p>
                </li>
            {% } %}
            </script>

            <script id="template-download" type="text/x-tmpl">
            {% for (var i=0, file; file=o.files[i]; i++) { %}
                <li class="resource-item template-download fade">
                      <span class="format-label" property="dc:format" data-format=""></span>
                      <span class="heading"> {%=file.name%}</span>
                      <p class="description">
                        {% if (file.error) { %}
                            <div><span class="label label-danger">{% endraw %}{{ _('Error') }}{% raw %}</span> {%=file.error%}</div>
                        {% } %}
                        <span class="size">{%=o.formatFileSize(file.size)%}</span>
                      </p>
                </li>
            {% } %}
            </script>
        {% endraw %}
    </div>
</section>
