[groups]

fileupload_scripts =
    base.js
    jquery.ui.widget.js
    tmpl.js
    jquery.iframe-transport.js
    jquery.fileupload.js
    jquery.fileupload-process.js
    jquery.fileupload-validate.js
    jquery.fileupload-ui.js
    main.js

fileupload_styles =
    jquery.fileupload.css
    jquery.fileupload-ui.css
